html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
}

/*-------------------- FONTS -----------------*/
@font-face {
  font-family: 'roboto';
  src: url('fonts/roboto-light-webfont.woff2') format('woff2'),
    url('fonts/roboto-light-webfont.woff') format('woff');
}

@font-face {
  font-family: 'vag';
  src: url('fonts/vag_rounded_light-webfont.woff2') format('woff2'),
    url('fonts/vag_rounded_light-webfont.woff') format('woff');
}

@font-face {
  font-family: "vag-rundschrift-d";
  src: url("https://use.typekit.net/af/121f08/00000000000000000001793a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/121f08/00000000000000000001793a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/121f08/00000000000000000001793a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}

h1 {
  font-family: "vag-rundschrift-d", sans-serif;
  font-size: 8rem;
  color: white;
  font-weight: lighter;
}

h2 {
  font-family: "vag-rundschrift-d", sans-serif;
  font-size: 6rem;
  color: white;
  font-weight: lighter;
}

p {
  font-family: "vag-rundschrift-d", sans-serif;
  font-size: 4rem;
  color: white;
  font-weight: lighter;
}

/*-------------------- Tekst Intro ----------------*/
#intro_text {
  width: 35vw;
  height: 15vw;
  top: 10vw;
  left: 15vw;
  z-index: 1;
  position: absolute;
  user-select: none;
  display: none;
}

/*-------------------- Tekst GameOver ----------------*/
#go_txt_h {
  width: 40vw;
  height: 10vw;
  top: 10vw;
  left: 35vw;
  z-index: 1;
  position: absolute;
  user-select: none;
  display: none;
}

#go_txt_p_left {
  width: 20vw;
  height: 10vw;
  bottom: 5vw;
  left: 5vw;
  z-index: 1;
  position: absolute;
  user-select: none;
  display: none;
}

#go_txt_p_right {
  width: 40vw;
  height: 5vw;
  bottom: 5vw;
  right: 5vw;
  z-index: 1;
  position: absolute;
  user-select: none;
  display: none;
}

/*-------------------- Tekst levelComplete ----------------*/
#lc_txt_h {
  width: 20vw;
  height: 10vw;
  top: 10vw;
  left: 35vw;
  z-index: 1;
  position: absolute;
  user-select: none;
  display: none;
}

#lc_txt_p {
  width: 30vw;
  height: 5vw;
  bottom: 5vw;
  left: 35vw;
  z-index: 1;
  position: absolute;
  user-select: none;
  display: none;
}

/*-------------------- SCREEN ----------------*/
#screen {
  width: 100vw;
  height: 56.25vw;
  position: relative;
}

/*-------------------- GAME ----------------*/
#game {
  background-color: #6fd9e2;
  background-image: url(pics/game_scene.svg);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

/*-------- GAME BACKGROUND ---------*/
#game_background {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url(pics/game_scene.svg);
  background-size: cover;
  position: absolute;
  user-select: none;
  pointer-events: none;
}

/*-------- GAME ELEMENTS ---------*/
#game_elements {
  height: 100%;
  width: 100%;
  position: absolute;
}

/*-------- GAME UI ---------*/
#game_ui {
  position: absolute;
  height: 100%;
  width: 100%;
}

/* --- SCORE BOARD ----- */
#score_button {
  position: absolute;
  bottom: 1vw;
  right: 1vw;
  height: 10vw;
  width: 20vw;
  /*z-index: 1;*/
  background-image: url(pics/point_counter.svg);
  background-size: 100%;
}

#score_text {
  position: absolute;
  bottom: 1vw;
  right: 7vw;
  /*z-index: 1;*/
  font-family: 'vag';
  font-size: 7rem;
  color: white;
}

/*--- TIME BOARD -----*/
#time_board {
  position: absolute;
  top: 0vw;
  left: 0vw;
  font-family: 'vag';
  font-size: 5rem;
}

/*-------- INTRODUCTION ---------*/
#introduction {
  height: 100%;
  width: 100%;
  background-image: url(pics/introduction.svg);
  background-size: 100%;
  position: absolute;
  z-index: 1;
  display: none;
}

/*-------- START ---------*/
#start {
  background-image: url(pics/start_skaerm.svg);
  height: 100%;
  width: 100%;
  background-size: cover;
  position: absolute;
  display: none;
}

/*-------- GAME OVER ---------*/
#gameOver {
  background-image: url(pics/taber_skaerm.svg);
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
}

/*-------- LEVEL COMPLETE ---------*/
#levelComplete {
  background-image: url(pics/vinder_skaerm.svg);
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
}

/*-------------------- KNAPPER ----------------*/
#replay_button {
  background-image: url(pics/replay_button.svg);
  background-size: cover;
  width: 20vw;
  height: 10vw;
  top: 6vw;
  right: 10vw;
  z-index: 2;
  position: absolute;
  cursor: pointer;
  display: none;
}

#point_counter {
  background-image: url(pics/point_counter.svg);
  background-size: cover;
  width: 20vw;
  height: 10vw;
  bottom: 6vw;
  left: 40vw;
  z-index: 2;
  position: absolute;
  cursor: pointer;
  display: none;
}

#anmeld_button {
  background-image: url(pics/anmeld_button.svg);
  background-size: cover;
  width: 20vw;
  height: 10vw;
  bottom: 6vw;
  right: 15vw;
  position: absolute;
  cursor: pointer;
}

#del_button {
  background-image: url(pics/del_button.svg);
  background-size: cover;
  width: 20vw;
  height: 10vw;
  bottom: 6vw;
  left: 15vw;
  position: absolute;
  cursor: pointer;
}

#start_button {
  background-image: url(pics/start_button.svg);
  background-size: cover;
  width: 20vw;
  height: 10vw;
  bottom: 8vw;
  left: 25vw;
  z-index: 1;
  position: absolute;
  cursor: pointer;
  display: none;
}

#agree_button {
  background-image: url(pics/agree_button.svg);
  background-size: 100%;
  width: 15vw;
  height: 4vw;
  bottom: 25vw;
  left: 27vw;
  z-index: 2;
  position: absolute;
  cursor: pointer;
  display: none;
}

/*-------------------- POLAROID; ANIMAL----------------*/

#game_elements{

    background-size: 100%;
    width: 20vw;
    height: 19.30vw;

    top: 20vw;
    left: 40vw;

}

#ani_1 {
  background-image: url(pics/ani1.svg);

    display: none;


}

#ani_2 {
  background-image: url(pics/ani2.svg);


    display: none;
}

#ani_3 {
  background-image: url(pics/ani3.svg);



    display: none;
}

#ani_4 {
  background-image: url(pics/ani4.svg);



    display: none;
}

#ani_5 {
  background-image: url(pics/ani5.svg);

    display: none;
}

#ani_6 {
  background-image: url(pics/ani6.svg);


    display: none;
}

#ani_7 {
  background-image: url(pics/ani7.svg);


    display: none;
}

#ani_8 {
  background-image: url(pics/ani8.svg);

    display: none;
}

#ani_9 {
  background-image: url(pics/ani9.svg);

    display: none;
}

#ani_10 {
  background-image: url(pics/ani10.svg);


    display: none;
}

#ani_11 {
  background-image: url(pics/ani11.svg);


    display: none;
}

/*-------------------- POLAROID: NUDES ----------------*/
#skin_1 {
  background-image: url(pics/skin1.svg);


    display: none;
}

#skin_2 {
  background-image: url(pics/skin2.svg);



    display: none;
}

#skin_3 {
  background-image: url(pics/skin3.svg);

    display: none;
}

#skin_4 {
  background-image: url(pics/skin4.svg);

    display: none;
}

#skin_5 {
  background-image: url(pics/skin5.svg);


    display: none;
}

#skin_6 {
  background-image: url(pics/skin6.svg);


    display: none;
}

#skin_7 {
  background-image: url(pics/skin7.svg);


    display: none;
}

#skin_8 {
  background-image: url(pics/skin8.svg);


    display: none;
}

#skin_9 {
  background-image: url(pics/skin9.svg);


    display: none;
}

#skin_10 {
  background-image: url(pics/skin10.svg);

    display: none;
}

#skin_11 {
  background-image: url(pics/skin11.svg);

    display: none;
}

#skin_12 {
  background-image: url(pics/skin12.svg);


    display: none;
}

/*-------------------- ANIMATIONS ----------------*/
.disappear {
  animation-name: disappear;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(.59, -0.56, .77, 1.34);
  animation-fill-mode: forwards;
}

@keyframes disappear {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0);
  }
}

.pulse {
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.knap {
  animation-name: knap;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes knap {
  0% {
    transform: translateY(0vw);
  }

  100% {
    transform: translateY(-4vw);
  }
}
